
#jumpMenu {
    width: 10%;
    background-color: purple;
    color: white;
    padding: 20px;
    line-height: 2.2;
    text-align: center;


    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}


h2 {
    /* Trying to experiement and get used to the different length values */
    font-size:2rem;
    line-height:normal; /* Overwrites the line height */
    text-align:center; 
}

main {
    flex: 1;
}

header {
    position:sticky;
    top:0px;
    font-size:20px;
    padding:1.2rem;
    margin:0px;
    background-color:yellow;
    text-align:center;
}

/* Specifically MyBlog.com text */
header p {
    margin:0px;
    font-size:2em;
}

a {
    color:white;
}

body {
    display: flex;
    margin: 0;          /* remove default body margin */
}

#container { /* AI assisted */
    display: flex;
    flex-flow: row wrap;
    gap: 1rem; /* AI assisted */
}

#container article { /* AI assisted (using the subset of article for formatting)*/
    flex:300px;
    text-align: justify;
}


#thanks {
    position:fixed;
    text-align:center;
    border:3px solid red;
    background-color:white;
    bottom:0px;
    right:0px;
    margin:0; /* Forces box to be flush with the bottom of the screen */
    padding: 0.75em 1em;
}