
body {
    display: flex;
    margin: 0; /* Removes default body margin */
}

#jumpMenu { /* Jump menu on left side of screen */
    width: 10%;
    background-color: purple;
    color: white;
    padding: 20px;
    text-align: center;

    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

/* Uses combinator to allow for left links to be white, while main page links are blue */ 
#jumpMenu > a { /* Jump menu links */
    color:white;
    line-height: 500%;
}

#jumpMenu h2 { /*  */
    
    font-size:2rem; /* Trying to experiement and get used to the different length values */
    text-align:center; 
}

main { /* Right side of the screen */
    flex: 1;
}

header { /* MyBlog.com red header at the hop*/
    position:sticky;
    top:0px;
    font-size:20px;
    padding:1.2rem;
    margin:0px;
    background-color:red;
    text-align:center;
}

header > p { /* MyBlog.com text */
    margin:0px;
    font-size:3em;
    padding:3%
}

/* ADD FORMATTING FOR THE BUTTONS IN THE HEADER HERE */

h1 { /* "Recent Journal Articles" */
    text-align:center;
    font-size:48px;
    margin-bottom:0px;
    margin-top:10px;
}

div { /* Container that holds all articles */
    padding:3%;
}

#container p { /* Padding for the articles */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div h2 { /* Applies to 'Article x' */
    font-size:20px;
    text-align:left;
    margin-bottom:0px;
    
}

#container { /* AI assisted */
    display: flex;
    flex-flow: row wrap;
    gap: 1rem; /* AI assisted */
}

#container article { /* Formatting for the individual article boxes */
    flex:300px;
    text-align: justify;
    padding:1%;
}

#thanks { /* Thanks at the bottom right */
    position:fixed;
    text-align:center;
    font-size:2em;
    border:3px solid red;
    background-color:white;
    bottom:0px;
    right:0px;
    margin:0; /* Forces box to be flush with the bottom of the screen */
    padding: 0.75em 1em;
}